
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    font-family: Arial, sans-serif;
    color: #e4dbdb;
    background-color: #131212;
}
header {
    background-color: #1b1b1b; 
    color: #f3f3f3; 
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
}
nav ul {
    list-style: none; 
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    color: #e4dbdb; 
}
main {
    padding: 20px; 
    overflow: hidden; 
}
.card {
    color: white;
    width: calc(33.33% - 20px);
    margin: 10px; 
    padding: 20px;
    background-color: #131212;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    float: left;
}
.card img {
    max-width: 100%; 
    height: 300px; 
}

.card button {
    background-color: #ffffff;
    color: #333333;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.card button:hover {
    background-color: #e4e1e1;
}
footer {
    background-color: #f0e6e6;
    color: #141212;
    text-align: center;
    padding: 1rem;
}